<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE shortcuts [
    <!ENTITY hbdemo_commenting_topic_related_entity_events
    'event.getType() matches "/^hbdemo\.commenting\.account\..*/"'>
]>
<ae:configurations
    xmlns:ae="http://agavi.org/agavi/config/global/envelope/1.0"
    xmlns="http://berlinonline.de/schemas/honeybee/config/event_bus/1.0"
    xmlns:env="http://berlinonline.de/schemas/honeybee/config/envelope/definition/1.0"
    xmlns:xi="http://www.w3.org/2001/XInclude"
>
    <ae:configuration>
        <event_bus>
            <channels>
                <channel name="honeybee.events.domain">
                    <subscriptions>
                        <subscription enabled="true">
                            <transport>sync</transport>
                            <filter>
                                <setting name="expression">&hbdemo_commenting_topic_related_entity_events;</setting>
                            </filter>
                            <handler implementor="\Honeybee\Projection\EventHandler\RelationStateProjectionProcessor">
                                <setting name="projection_type">hbdemo.commenting.topic</setting>
                                <setting name="process_name">state_propagation_process</setting>
                            </handler>
                        </subscription>
                    </subscriptions>
                </channel>

                <channel name="honeybee.events.replay">
                    <subscription>
                        <transport>sync</transport>
                        <filter>
                            <setting name="expression">&hbdemo_commenting_topic_related_entity_events;</setting>
                        </filter>
                        <handler implementor="\Honeybee\Projection\EventHandler\RelationProjectionUpdater">
                            <setting name="projection_type">hbdemo.commenting.topic</setting>
                        </handler>
                    </subscription>
                </channel>
            </channels>
        </event_bus>
    </ae:configuration>

</ae:configurations>
